name: CI/CD Flask Simples

on:
  push:
    branches: [ "main" ]

jobs:
  build_test:
    runs-on: ubuntu-latest

    steps:
    - name: Baixar o código
      uses: actions/checkout@v3

    - name: Instalar Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Instalar dependências
      run: pip install -r requirements.txt

    - name: Testar se o Flask sobe sem erro
      run: |
        python - << 'EOF'
from app import app
print("Flask importado com sucesso!")
EOF
